<header>
  <nav class ="navbar">
    <h1>EduLearn</h1>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/courses" routerLinkActive="active">Courses</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      <li><a routerLink="/instructors" routerLinkActive="active">Instructors</a></li>
      <li><a routerLink="/help" routerLinkActive="active">Help</a></li>
    </ul>
  </nav>
</header>

<div class = "content">
  <router-outlet></router-outlet>
</div>