<section class = "course-list">
    <div class="course-card">
        <h3>Angular</h3>
        <p>Learn the basics of Angular, a popular front-end framework for building dynamic web applications.</p>
    </div>
    <div class="course-card">
        <h3>React</h3>
        <p>Dive into React, a powerful JavaScript library for building user interfaces with reusable components.</p>
    </div>
    <div class="course-card">
        <h3>SpringBoot</h3>
        <p>Master SpringBoot, a robust framework for building enterprise-level backend applications with Java.</p>  
    </div>

</section>